@import 'variables';

nav {
	background-color: $main-dark-blue;
	font-family: 'Oswald';
	display: flex;
	width: 100%;
	a {
		display: flex;
		font-size: 1.5rem;
		letter-spacing: 2px;
		color: #fff;
		text-decoration: none;
		padding: 1.5rem 4%;
		margin: 0 5.6%;
	}
	a:hover {
		background-color: #132435;
		transition: all 0.7s ease;
	}
}