@import 'variables';
@import 'navigation';
@import 'searchPage';

body {
  	background-image: url("https://s1.wp.com/home.logged-out/images/pic-crowd.webp?2");
  	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	color: #efefef;
}

img {
	height: 256px;
	width: 256px;
}

.upVoted {
	background-color: green;
}

.downVoted {
	background-color: red;
}